{% load staticfiles %}
{% load post_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {%include "koc/header.html" %}
  </head>

  <body>

    {% include "koc/navigation.html" %}

    <!-- Begin page content -->
    <div class="container">
      <div class="col-md-12">
          {% if post %}

              <div class="row post">
                  <h1>{{ post.title }}</h1>
                  <p class="blog-post-meta">{{ post.date }} by <a href="">{{ post.created_by.first_name }} {{ post.created_by.last_name }}</a></p>
                  {{ post.text |safe }}
              </div>
              <hr>
              <div class="row">
                  <button class="btn btn-success btn-lg" type="button" data-toggle="modal" data-target="#comment_modal">Leave a comment...</button>
              </div>
              <br>
              <div class="row">
                <ul class="media-list">
                {% for comment in comments %}
                  {% if not comment.parent %}
                  <li class="media panel panel-default">
                      <div class="panel-body">
                      <div class="media-left">
                          <img class="media-object" src="{% comment_author_gravatar comment.email %}" alt="{{ comment.email }}">
                      </div>
                      <div class="media-body">
                          <h5 class="media-heading">{{comment.name}}</h5>
                          {{comment.comment}}
                              <div class="text-right">
                                  <button class="btn btn-primary btn-md"  data-toggle="modal" data-target="#comment_modal">Reply</button>
                              </div>
                          {% for child_comment in comments %}
                            {% if child_comment.parent.id == comment.id %}
                            <hr>
                            <div class="media">
                                <div class="media-left">
                                    <img class="media-object" src="{% comment_author_gravatar child_comment.email %}" alt="{{ child_comment.email }}">
                                </div>
                                <div class="media-body">
                                    <h5 class="media-heading">{{ child_comment.name }}</h5>
                                    {{ child_comment.comment }}
                                    <div class="text-right">
                                        <button class="btn btn-primary btn-md"  data-toggle="modal" data-target="#comment_modal">Reply</button>
                                    </div>
                                    <hr>
                                    {% for child_child_comment in comments %}
                                    {% if child_child_comment.parent.id == child_comment.id %}
                                    <div class="media">
                                        <div class="media-left">
                                            <img class="media-object" src="{% comment_author_gravatar child_child_comment.email %}" alt="{{ child_child_comment.email }}">
                                        </div>
                                        <div class="media-body">
                                            <h5 class="media-heading">{{ child_child_comment.name }}</h5>
                                            {{ child_child_comment.comment }}
                                            <div class="text-right">
                                                <button class="btn btn-primary btn-md"  data-toggle="modal" data-target="#comment_modal">Reply</button>
                                            </div>
                                        </div>
                                    </div>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                            {% endif %}
                          {% endfor %}
                      </div>
                      </div>
                  </li>
                  {% endif %}
                {% endfor %}
                </ul>
              </div>

              <!-- Modal -->
            <div class="modal fade" id="comment_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Add Comment</h4>
                  </div>
                  <div class="modal-body">
                    ...
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default text-left pull-left" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary text-right">Save changes</button>
                  </div>
                </div>
              </div>
            </div>

          {% else %}
              <div class="row post">
                  <p>Post doesn't exist</p>
              </div>
          {% endif %}
      </div>
    </div>

    <footer class="footer">
      {% include "koc/footer.html" %}
    </footer>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="//cdn.mathjax.org/mathjax/2.2-latest/MathJax.js?config=TeX-AMS_HTML"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
    <!-- For me the code writer -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.0.0/highlight.min.js"></script>
    <script src="{% static "dashboard/js/ckeditor/plugins/spoiler/js/spoiler.js" %}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static "default/js/ie10-viewport-bug-workaround.js" %}"></script>
  </body>
</html>
