{% load staticfiles %}
{% load post_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {%include "blog/header.html" %}
  </head>

  <body>

    {% include "blog/navigation.html" %}

    <!-- Begin page content -->
    <div class="container">
        <div class="row">
            <div class="col-sm-10">
                <h1>John Roach</h1>
                <i>Coding for life...</i>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                {% if posts %}
                {% for post in posts %}
                <div class="row post">
                    <h2><a href="/{{post.date.year}}/{{post.date.month}}/{{post.date.day}}/{{post.slug}}">{{ post.title }}</a></h2>
                    <p class="blog-post-meta">{{ post.date }} by <a href="">{{ post.created_by.first_name }} {{ post.created_by.last_name }}</a> | <i class="fa fa-comments"></i> Comments {% number_of_comments post.id %}</p>
                    {{ post.text |safe }}
                </div>
                {% endfor %}
                {% else %}
                <div class="row post">
                    <p>You have no posts...</p>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-md-offset-5">
                <div class="pagination">
                    <div class="btn-group " role="group" aria-label="...">
                        {% if not posts.has_previous %}
                        <a class="btn btn-default disabled">
                        {% else %}
                        <a href="?page={{ posts.previous_page_number }}" class="btn btn-default">
                        {% endif %}
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        </a>
                        <a class="btn btn-default disabled"><b>Page {{ posts.number }} of {{ posts.paginator.num_pages }}</b></a>
                        {% if posts.has_next %}
                        <a href="?page={{ posts.next_page_number }}" class="btn btn-default">
                        {% else %}
                        <a class="btn btn-default disabled">
                        {% endif %}
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer">
        {% include "blog/footer.html" %}
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static "default/js/ie10-viewport-bug-workaround.js" %}"></script>
  </body>
</html>
