<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
  <h2 class="sub-header">Posts</h2>
  <div class="table-responsive">
    <table id="example" class="table table-striped">
      <thead>
        <tr>
          <th></th>
          <th>Title</th>
          <th>Publishing Date</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% if posts %}
        {% for post in posts %}
        <tr>
        <td><input type="checkbox"></td>
        <td>{{ post.title }}</td>
        <td>{{ post.date }}</td>
        <td>
            <!-- Someone please stop me from making this :( -->
            <!-- I really didn't want to use a table within a table but couldn't get div's to work for me -->
            <table>
                <tr>
                    <td style="padding:5px;">
                        <form method="post" name="publishing_form_{{ post.id }}">
                            {% csrf_token %}
                            <input type="hidden" value="{{ post.id }}" name="post_id" id="post_id">
                            <button type="submit" class="btn btn-warning">
                                <span class="glyphicon glyphicon-pause" aria-hidden="true"></span>
                                Un-publish
                            </button>
                        </form>
                    </td>
                    <td style="padding:5px;">
                        <form method="post" name="delete_form_{{ post.id }}">
                            {% csrf_token %}
                            <input type="hidden" value="{{ post.id }}" name="post_id" id="post_id">
                            <button type="submit" class="btn btn-danger">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                Delete
                            </button>
                        </form>
                    </td>
                    <td style="padding:5px;">
                        <a href="/dashboard/posts/post/{{ post.id }}" class="btn btn-primary">
                            <span class="glyphicon glyphicon-open-file" aria-hidden="true"></span>
                            Open Post
                        </a>
                    </td>
                </tr>
            </table>
        </td>
        </tr>
        {% endfor %}
        {% endif %}
      </tbody>
    </table>
  </div>
  <script src="https://cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.10/js/dataTables.bootstrap.min.js"></script>
  <script>
      $(document).ready(function() {
          $('#example').DataTable();
      } );
  </script>
</div>
